.container {
    background-color: rgba(34, 8, 58, 0.941);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h4{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 1.6rem;
    }
    & img{
        width: 560px;
        height: 900px;
        margin-bottom: 20px;
    }
    & p{
        margin-bottom: 10px;
        text-align: center;
        width: 700px;
        font-size: 1.5rem;
    }
    & .category{
        margin-bottom: 60px;
    }
    & button{
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: yellow;
        padding: 10px;
        border-radius: 10px;
    }
    & .linkDecoration{
        color: antiquewhite;
    }
}
