.tarjeta {
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.botonVerDetalle {
    background-color: rgb(86, 0, 162);
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 8px black;
    font-size: 1rem;
}

.noDecoration {
    text-decoration: none;
}